.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  padding: 16px 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.favIconWrapper {
  position: relative;
  display: inline-block;
  color:  #fff;
  font-size: 25px;
}

.favIconWrapper svg:hover {
  color: red;
}

.favCount {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}
